<!DOCTYPE html>
<html ng-app="app">
    <head>
        <% include ../partials/header.ejs %>
    </head>
    <body>
        <header class="container-fluid">
            <div class="navbar">
                <div class="navbar-inner">
                    <a ui-sref="landing" class="brand">Javascript Development ideav1</a>
                </div>
            </div>
        </header>
        <section class="container">
          <div class="row">
            <div class="span12">
              <div class="well" ui-view></div>        
            </div>
          </div>
        </section>
        <footer class="container-fluid">
            <% include ../partials/footer.ejs %>
        </footer>
    </body>
</html>