<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>
    <body>
        <header>
            <h1>Javascript Development idea</h1>
        </header>
        <section id="dashboard"></section>
        <footer>
            <% include ../partials/footer.ejs %>
        </footer>
    </body>
</html>