<!DOCTYPE html>
<html ng-app="app">
    <head>
        <% include ../partials/header.ejs %>
    </head>
    <body>
        <header>
            <h1>Javascript Development ideav1</h1>
        </header>
        <section ng-view></section>
        <footer>
            <% include ../partials/footer.ejs %>
        </footer>
    </body>
</html>